@import "../../styles/variables.scss";
.home{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);

    .box{
        padding: 20px;
        border-radius: 10px;
        border: 1px solid $software-bg;

    }

    .contentbox5{
        grid-column: span 1;
        grid-row: span 2;
    }
    .contentbox6{
        grid-column: span 2;
        grid-row: span 2;
    }
    .contentbox7{
        grid-column: span 1;
        grid-row: span 2;
    }
    .contentbox8{
        grid-column: span 3;
        grid-row: span 2;
    }
    .contentbox9{
        grid-column: span 1;
        grid-row: span 2;
    }
}